@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  scroll-behavior: smooth;
}

body {
  @apply bg-background text-body font-sans antialiased;
  overflow-x: hidden;
}

a {
  @apply text-primary underline-offset-4 hover:underline hover:text-primary/80;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  @apply text-heading font-semibold tracking-tight;
}

p {
  @apply text-body leading-relaxed;
}
